@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.#{tp.$prefix}-btngridv {
	border-radius: tp.cssVar('blade-border-radius');
	display: grid;
	overflow: hidden;
	gap: 2px;

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	& .#{tp.$prefix}-btnv_b:disabled {
		opacity: 1;
	}
	& .#{tp.$prefix}-btnv_b:disabled .#{tp.$prefix}-btnv_t {
		opacity: 0.5;
	}
	& .#{tp.$prefix}-btnv_b {
		border-radius: 0;
	}
}
