@use 'sass:math';
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.#{tp.$prefix}-cbzv {
	position: relative;

	// Head
	&_h {
		display: flex;
	}
	// Button
	&_b {
		@extend %tp-button;

		margin-right: 4px;
		position: relative;
		width: tp.cssVar('container-unit-size');

		svg {
			display: block;
			height: 16px;
			left: 50%;
			margin-left: math.div(-16px, 2);
			margin-top: math.div(-16px, 2);
			position: absolute;
			top: 50%;
			width: 16px;

			path {
				stroke: tp.cssVar('base-bg');
				stroke-width: 2;
			}
		}
	}
	// Text
	&_t {
		flex: 1;
	}
	// Inline picker
	&_p {
		height: 0;
		margin-top: 0;
		opacity: 0;
		overflow: hidden;
		transition: height tp.$fold-transition-duration ease-in-out,
			opacity tp.$fold-transition-duration linear,
			margin tp.$fold-transition-duration ease-in-out;
	}
	&#{&}-expanded &_p {
		margin-top: tp.cssVar('container-unit-spacing');
		opacity: 1;
	}
	&#{&}-cpl &_p {
		overflow: visible;
	}

	// Popup
	.#{tp.$prefix}-popv {
		left: calc(-1 * #{tp.cssVar('container-h-padding')});
		position: absolute;
		right: calc(-1 * #{tp.cssVar('container-h-padding')});
		top: tp.cssVar('container-unit-size');
	}
}

// Picker
.#{tp.$prefix}-cbzpv {
	&_t {
		margin-top: tp.cssVar('container-unit-spacing');
	}
}

// Graph
.#{tp.$prefix}-cbzgv {
	@extend %tp-input;

	height: auto;
	overflow: hidden;
	position: relative;

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	// Preview container
	&_p {
		left: 16px;
		position: absolute;
		right: 16px;
		top: 0;
	}
	// Graph
	&_g {
		cursor: pointer;
		display: block;
		height: calc(#{tp.cssVar('container-unit-size')} * 5);
		width: 100%;
	}
	// Guide
	&_u {
		opacity: 0.1;
		stroke: tp.cssVar('input-fg');
		stroke-dasharray: 1;
	}
	// Curve
	&_l {
		fill: transparent;
		stroke: tp.cssVar('input-fg');
	}
	// Vectors
	&_v {
		opacity: 0.5;
		stroke: tp.cssVar('input-fg');
		stroke-dasharray: 1;
	}
	// Handles
	&_h {
		border: tp.cssVar('input-fg') solid 1px;
		border-radius: 50%;
		box-sizing: border-box;
		height: 4px;
		margin-left: -2px;
		margin-top: -2px;
		pointer-events: none;
		position: absolute;
		width: 4px;
	}

	&:focus &_h-sel {
		background-color: tp.cssVar('input-fg');
		border-width: 0;
	}
}

// Preview
.#{tp.$prefix}-cbzprvv {
	cursor: pointer;
	height: 4px;
	padding: 4px 0;
	position: relative;

	// Graphics
	&_g {
		display: block;
		height: 100%;
		overflow: visible;
		width: 100%;
	}
	// Ticks
	&_t {
		opacity: 0.5;
		stroke: tp.cssVar('monitor-fg');
	}
	// Marker
	&_m {
		background-color: tp.cssVar('monitor-fg');
		border-radius: 50%;
		height: 4px;
		margin-left: -2px;
		margin-top: -2px;
		opacity: 0;
		position: absolute;
		top: 50%;
		transition: opacity 0.2s ease-out;
		width: 4px;

		&#{&}-a {
			opacity: 1;
		}
	}
}
