.#{$prefix}-fpsv {
	position: relative;

	&_l {
		bottom: 4px;
		color: var(--mo-fg);
		line-height: 1;
		right: 4px;
		pointer-events: none;
		position: absolute;
	}
	&_u {
		margin-left: 0.2em;
		opacity: 0.7;
	}
}