@use 'sass:math';
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.#{tp.$prefix}-rslv {
	$slider-knob-width: 8px;

	cursor: pointer;
	padding-left: $slider-knob-width;
	padding-right: $slider-knob-width;

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_t {
		height: calc(#{tp.cssVar('container-unit-size')});
		position: relative;

		&::before {
			background-color: tp.cssVar('input-bg');
			border-radius: 1px;
			content: '';
			height: 2px;
			margin-top: math.div(-2px, 2);
			position: absolute;
			top: 50%;
			left: math.div(-$slider-knob-width, 2);
			right: math.div(-$slider-knob-width, 2);
		}
	}
	&_b {
		bottom: 0;
		top: 0;
		position: absolute;

		&::before {
			background-color: tp.cssVar('input-fg');
			content: '';
			height: 2px;
			margin-top: math.div(-2px, 2);
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
		}
	}
	&_k {
		@extend %tp-button;

		height: calc(#{tp.cssVar('container-unit-size')} - 8px);
		margin-top: calc((#{tp.cssVar('container-unit-size')} - 8px) / -2);
		position: absolute;
		top: 50%;
		width: $slider-knob-width;

		&#{&}-min {
			margin-left: -$slider-knob-width;
		}
		&#{&}-max {
			margin-left: 0;
		}
	}
	&#{&}-zero &_k#{&}_k-min {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	&#{&}-zero &_k#{&}_k-max {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

.#{tp.$prefix}-rsltxtv {
	display: flex;

	&_s {
		flex: 1;
	}
	&_t {
		flex: 1;
		margin-left: 4px;
	}
}
