.#{$prefix}-rslv {
	$slider-knob-width: 8px;

	cursor: pointer;
	padding-left: $slider-knob-width;
	padding-right: $slider-knob-width;

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_t {
		height: calc(var(--bld-us));
		position: relative;

		&::before {
			background-color: var(--in-bg);
			border-radius: 1px;
			content: '';
			height: 2px;
			margin-top: (-2px / 2);
			position: absolute;
			top: 50%;
			left: (-$slider-knob-width / 2);
			right: (-$slider-knob-width / 2);
		}
	}
	&_b {
		bottom: 0;
		top: 0;
		position: absolute;

		&::before {
			background-color: var(--in-fg);
			content: '';
			height: 2px;
			margin-top: (-2px / 2);
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
		}
	}
	&_k {
		@extend %button;

		height: calc(var(--bld-us) - 8px);
		margin-top: calc((var(--bld-us) - 8px) / -2);
		position: absolute;
		top: 50%;
		width: $slider-knob-width;

		&#{&}-min {
			margin-left: -$slider-knob-width;
		}
		&#{&}-max {
			margin-left: 0;
		}
	}
	&#{&}-zero &_k#{&}_k-min {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	&#{&}-zero &_k#{&}_k-max {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

.#{$prefix}-rsltxtv {
	display: flex;

	&_s {
		flex: 1;
	}
	&_t {
		flex: 1;
		margin-left: 4px;
	}
}
